<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OOP MVC</title>
    <link rel="stylesheet" href="web/home/stylehome.css">
    <link rel="stylesheet" href="web/header/styleheader.css">
    <link rel="stylesheet" href="web/article-view/article-view.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!--<script src="web/article.js"></script>-->
</head>
<body>

{% block content %}
    <div class="article-view">
        <h1 class="h1">Créer formulaire article</h1>
        <form enctype="multipart/form-data" action="?action=article" method="POST" id="article-form">
            <input type="text" name="title" placeholder="title" class="title"><br>
            <textarea name="commentary" placeholder="commentaire min 500 carracteres " class="textarea"></textarea><br>
            <input type="file" id="uploads_file" name="uploads_file" accept="image/*" class="file"><br>
            <input type="submit" class="submit">
        </form>
        <p id="error-block"></p>
        <p id="success-block"></p>
    </div>
    <div class="content"></div>
{% endblock %}

</body>
</html>