<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OOP MVC</title>
    <link rel="stylesheet" href="web/style.css">
</head>
<body>

{% block content %}
    <h1>Mettre tout le contenue de tout les articles présent sur le blog</h1>
    <h1>Coucou {{ name }}</h1>
    {% for i in articles %}
        <div>{{ i['title'] }}</div>
        <div>{{ i['text'] }}</div>
        <br>
    {% endfor %}

{% endblock %}

</body>
</html>