<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OOP MVC</title>
    <link rel="stylesheet" href="web/edit/editstyle.css">
    <link rel="stylesheet" href="web/home/stylehome.css">
    <link rel="stylesheet" href="web/header/styleheader.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="web/edit.js"></script>
</head>
<body>

{% block content %}
    <div class="edit-view">
        <h1>Merci de remplir tous les champs pour proccéder au changement</h1>
        <form action="?action=edit" method="POST" name="edit-form" id="edit-form">
            Changer de mail : <input type="email" name="change-email">
            <input type="submit" value="submit">
        </form>
        <p id="error-block"></p>
        <p id="success-block"></p>
    </div>
    <div class="content"></div>
{% endblock %}

</body>
</html>