{% block content %}
    <script src="web/script.js"></script>
    <link rel="stylesheet" href="web/register/registerstyle.css">
    <link rel="stylesheet" href="web/header/styleheader.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <video class="video" loop muted autoplay>
        <source src="web/login/background.mp4" type="video/mp4">
    </video>
    <div class="header">
        <li><a href='?action=home'>Home</a></li>
        <li><a href='?action=login'>Login</a></li>
    </div>
    <div class="register-block">
        <span class="sup-wow"> Creer un compte !</span>
        <form action="?action=register" method="POST" name="register-form">
            Login : <input type="text" name="username" class="username"><br><br>
            Email : <input type="text" name="email" class="email"><br><br>
            Password : <input type="password" name="password" class="password"><br><br>
            <input type="submit" class="submit" value="S'enregistrer !">
        </form>
        <a href="?action=login" class="register">Tu as déjà un compte ?</a>
        <p id="error-block"></p>
        <p id="success-block"></p>
    </div>
{% endblock %}