.article-view{
    color: white;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 90%;
    margin: auto auto auto auto;
    vertical-align: middle;
}

.h1{
    margin-top: 30px;
}

input{
    margin-top: 5px;
    margin-left: 0px;
    width: 230px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
}

.submit {
    margin-left: 5px;
    margin-top: 20px;
    display: inline-block;
    outline: 0;
    background: #670502;
    color: #a7df35;
    white-space: nowrap;
    padding: .1em 1.6em;
    text-decoration: none;
    text-shadow: 0 -1px #000;
    font-weight: normal;
    box-shadow: 1px 1px 0px #560000, 1px 1px 0px #560000, 1px 1px 0px #560000, 1px 1px 0px #560000, 3px 3px 0px black;
    top: -5px;
    transition: all .1s ease-in-out;
    border-radius: 5px;
}

.submit:hover {
    color: yellow;
    background: #560000;
    box-shadow: 1px 1px 0px #560000, 2px 2px 0px #560000, 3px 3px 0px #560000, 4px 4px 0px black;
    position: relative;
    top: -3px;
    left: 2px;
    transition: all .1s ease-in-out;
    cursor: url(http://files.simey.me/wow-cursor.png), auto;
}

.title{
    margin-bottom: 20px;
    margin-left: 5px;
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
    line-height: 150px;
}

.textarea{
    margin-bottom: 20px;
    width: 200px;
    height: 150px;
    margin-left: 20px;
}

.file{
    margin-bottom: 20px;
    margin-left: 5px;
}

h1{
    font-size: 23px;
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .title{
        margin-bottom: 50px;
        margin-left: 110px;
    }

    input{
        width: 320px;
    }

    h1{
        margin-bottom: 30px;
    }

    .textarea{
        margin-left: 15px;
        width: 500px;
        height: 300px;
    }

    ::-webkit-input-placeholder {
        text-align: center;
        line-height: 275px;
    }

    .file{
        margin-left: 110px;
    }

    .submit{
        margin-left: 110px;
    }
}

@media screen and (min-width: 1025px){
    .title{
        margin-bottom: 50px;
        margin-left: 110px;
        width: 400px;
    }

    .textarea{
        margin-left: 15px;
        width: 600px;
        height: 300px;
    }

    ::-webkit-input-placeholder {
        text-align: center;
        line-height: 275px;
    }

    .file{
        margin-left: 190px;
    }

    .submit{
        margin-left: 190px;
    }
}