body {
    background-image: url("background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-position: center;
    background-attachment: fixed;
}

.home-view{
    color: white;
    opacity: 1;
    width: 80%;
    height: 600px;
    margin: auto auto auto auto;
    vertical-align: middle;
    overflow-y: scroll;
}

.content {
    color: white;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: auto;
    width: 80%;
    opacity: 0.8;
    left: 0;
    top: 8%;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: black;

}
.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: green;
}

img{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.lienvisible{
    vertical-align: middle;
}

a{
    width: auto;
}


::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #315722;
}
::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 83px;
}
::-webkit-scrollbar-track:hover {
    background: #000000;
}
::-webkit-scrollbar-track:active {
    background: #000000;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
